.banner {
    background-image: url(https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 90vh;
    background-size: cover;
    background-repeat: none;
    position: relative;
}

.banner__info {
    background-color: black;
    color: white;
    padding: 25vh 50px 40px 50px;
    width: 300px;
}

.banner__info > button {
    background-color: salmon;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > h5 {
    margin-top: 10px;
}

.banner__info > button:hover {
    background-color: white;
    color: salmon;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: salmon !important;
}